@charset "UTF-8";

body {
	margin: 0px;
}

#newBG {
	width: calc(100% - 10px);
	margin: 5px auto;
	margin-top: 10px;
	padding: 0px;
	/* border: solid 2px; */
}

/* ============================================= */



/* ============================================= */



div.groupTitle {
	width: 100%;
	margin: 0px;
	margin-bottom: 5px;
	padding: 5px;
	text-align: left;
	justify-content: center;
	align-items: center;
	border-bottom: solid 0.5px rgb(142, 94, 69);
}

div.groupTitle>h3 {
	margin: 0px;
	padding: 0px;
	font-weight: bold;
	color: rgb(142, 94, 69);
}

div.homeCenter {
	margin: 0px;
	padding: 0px;
	max-width: 1000px;
	min-width: 500px;
}

div.classIcon {
	margin: 5px;
	padding: 0px;
	/* height: 90px; */
	min-width: calc(20% - 10px);
	aspect-ratio: 1/1;
	border-radius: 5px;
	align-items: center;
	text-align: center;
	justify-content: center;
	display: flex;
	overflow: hidden;
}

div.classIcon:hover {
	background-color: rgba(50, 150, 50, 0.5);
}

.classIcon img {
	max-width: 110%;
}

/* =================================================== */

div.homeRight {
	margin: 0px;
	padding: 0px;
	max-width: 400px;
	/* min-width: 250px; */
}

@media (max-width: 768px) {
	.homeRight {
		display: none;
	}

	.fixedDiv {
		display: block !important;
	}
}



div.smallNewsGroup {
	width: 100%;
	height: 1200px;
	margin: 0px;
	margin-top: 10px;
	padding: 5px;
	/* 	border: solid 2px rgba(0, 0, 0, 0.1); */
	/* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
	border-radius: 5px;
	/* background-color: rgba(0, 0, 0, 0.1); */

}

div.smallNews {
	min-height: 100px;
/* 	height: auto; */
	width: 100%;
/* 	aspect-ratio: 1/1; */
	font-weight: bold;
	font-size: x-large;
	color: rgb(142, 94, 69);
	border: solid 1px rgb(142, 94, 69);
	/* 	border-radius: 5px; */
	/* 	margin: 1vw 2vw; */
	margin-bottom: 1vw;
	padding: 1vw;
	background-color: white;
	overflow: hidden;
	box-shadow: 5px 5px 0 #8E5E45;
}

div.snTitle {
	color: rgb(142, 94, 69);	
	margin: 0px;
	padding: 0px;
	font-size: large;
	/* 	background-color: aqua; */
}
div.snTitle:hover {
	color: blue;	
}

.smallNewsa {
	text-decoration: none;
}

div.snInfo {
	color: rgb(142, 94, 69);
	margin: 0px;
	padding: 0px;
	font-size: medium;
	/* 	background-color: blueviolet; */
}

div.snInfo:hover {
	color: blue;	
}

/* ==================================================== */
/* offcanvas */

.offcanvas {
	background-color: #ccc;
}

.fixedDiv {
	position: fixed;
	top: 50%;
	right: 0px;
	transform: translateY(-50%);
	width: 40px;
	height: 100px;
	background-color: #ccc;
	padding: 0px;
	/* 目前圖層最高 */
	z-index: 3;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	display: none;
}

.OffcanBtn {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: none;
	border: none;
	border-radius: 0px;
	border-bottom-left-radius: 10px;
	border-top-left-radius: 10px;
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.OffcanBtn:hover {
	background-color: plum !important;
}

div.weatherDivOff {
	width: 100%;
	height: 110px;
	margin: 0px;
	padding: 0px;
	border: solid 2px rgba(0, 0, 0, 0.1);
	/* box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); */
	border-radius: 5px;
}

div.weatherColOff {
	margin: 0px;
	padding: 0px;

}

/* ==================================================== */

.aa {
	text-decoration: none;
	color: black;
}

.aa:hover {
	color: violet;
}

footer {
	height: 200px;
}