.navbar {
	transition: background-color 0.3s ease-in-out;
	height: 50px;
	min-width: 220px;
}

a.nav-link {
	color: aliceblue;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 1);
	border-radius: 5px;
	text-align: center;
}

a.nav-link:hover {
	color: white;
	background-color: rgba(0, 0, 0, 0.4);
}

#mynavbar {
	width: 200px;
	/* height: 100%; */
	margin-left: auto;
	margin-right: 20px;
	margin-top: -1px;
	background-color: rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(0, 0, 0, 0);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 5px;
}

.scrolledV2 {
	background-color: white !important;
	border: 1px solid rgba(0, 0, 0, 0.1) !important;
	border-top: 0px !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0) !important;
}

.scrolledV2>ul .nav-item>a {
	color: rgba(0, 0, 0, 0.7);
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
}

.scrolledV2>ul .nav-item>a:hover {
	color: plum;
}

.navbar-toggler {
	background-color: white;
	margin-right: 10px;
}

.navbar-toggler:focus {
	outline: none;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-width: 1px;
	border-style: solid;
}

#mynavbarCon {
	width: 100vw;
	height: 100%;
	margin: 0px;
	padding: 5px;
	padding-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0);
}

.scrolled {
	background-color: white;
	border: 1px solid rgba(0, 0, 0, 0.1) !important;
}

.collapseCon {
	margin-left: auto;
	margin-right: 0px;
}

.nameCon {
	margin: 0px;
	padding: 0px;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.memberConMd {
	margin: 0px;
	padding: 0px;
	height: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.nameCon>a {
	height: 100%;
	aspect-ratio: 1/1;
	width: auto;
	margin: 0px;
	margin-right: 5px;
	padding: 0px;
}

.nameCon>a>img {
	height: 100%;
	aspect-ratio: 1/1;
	width: auto;
	margin: 0px;
	outline: 1px solid rgba(0, 0, 0, 0.2);
}

.nameCon>a>span {
	height: 100%;
	aspect-ratio: 1/1;
	width: auto;
	margin: 0px;
}

span.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 40px;
  color: white;
  text-shadow: 0 0 2px black;
}
